body {
    background: #f4f7f6;
    font-family: 'Arial', sans-serif;
}

.wrap-contact {
    /* max-width: 800px; */
    margin: 10px auto;
    /* background: rgba(255, 255, 255, 1) !important; */
    padding: 30px;
    border-radius: 20px;
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); */
    /* transition: all 0.3s ease; */

}


.wrap-contact:hover {
    /* box-shadow: 0 0 30px rgba(0, 0, 0, 0.2); */
}

.step-navigation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    padding: 0;
    list-style: none;
    background: #2981B2;
    border-radius: 20px;
    position: relative;
}

.step-navigation li:first-child,
.step-navigation li:first-child li.active,
.step-navigation li:first-child li.completed {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.step-navigation li:last-child,
.step-navigation li:last-child li.active,
.step-navigation li:last-child li.completed {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.step-navigation li {
    flex: 1;
    text-align: center;
    position: relative;
    padding: 15px 0;
    cursor: pointer;
    font-weight: bold;
    color: #fff;
    transition: background 0.3s ease;
}

.step-navigation li.active,
.step-navigation li.completed {
    background: #ffa920;
}

.step-navigation li:hover {
    background: #FF9700;
}

/* .step-navigation::before {
    content: "";
    width: 100%;
    height: 4px;
    background-color: #ccc;
    position: absolute;
    bottom: -1px;
    left: 0;

} */

/* .step-navigation li.active::after,
.step-navigation li.completed::after {
    background-color: #2981B2;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    content: "";
} */

.form-step {
    display: none;
    animation: fadein 0.5s;
}

.form-step-active {
    display: block;
}

.form-navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.form-navigation button {
    background: #2981B2;
    color: #fff;
    padding: 10px 30px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease;
}

.form-navigation button[disabled] {
    background: #ccc;
}

.form-navigation .previous {
    background: #6c757d;
}

.form-navigation button:hover:not([disabled]) {
    background: #FF9700;
    transform: scale(1.05);
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="tel"],
input[type="password"],
textarea {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 10px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    color: #2981B2;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus,
textarea {
    border-color: #2981B2;
    box-shadow: 0 0 5px rgb(41, 129, 178);
    outline: none;
    color: #2981B2;
}

h3 {
    color: #2981B2;
    font-weight: bold;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.explanation {
    margin-bottom: 20px;
    padding: 15px;
    color: #FF9700;
    display: none;
}

.parent_container {
    min-height: 85vh;
}

.slider-label {
    font-weight: bold;
    color: #2981B2;
}

.slider-value {
    font-weight: bold;
    color: #2981B2;
}

.switch-container {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.switch-label {
    margin-right: 10px;
    font-weight: bold;
    color: #2981B2;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.location_slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.location_slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.location_slider {
    background-color: #2981B2;
}

input:checked+.location_slider:before {
    transform: translateX(26px);
}

.google-map {
    width: 100%;
    height: 300px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 10px 0;
}

/* New CSS for houseTypeList */
.houseTypeList-content,
.roomsList-content {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    padding: 0;
    list-style: none;
}

.houseTypeList-content li,
.roomsList-content li {
    flex: 1;
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
    cursor: pointer;
    transition: border-color 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
    background: transparent;
}

.houseTypeList-content li:first-child,
.roomsList-content li:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.houseTypeList-content li:last-child,
.roomsList-content li:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.houseTypeList-content li:hover,
.roomsList-content li:hover {
    border-color: #2981B2;
    box-shadow: 0 0 5px rgb(41, 129, 178);
    color: #2981B2;
}

.houseTypeList-content li.active,
.roomsList-content li.active {
    border-color: #2981B2;
    box-shadow: 0 0 5px rgb(41, 129, 178);
    color: #2981B2;
}

.form-row {
    display: flex;
    gap: 50px;
    margin: 0;
    padding: 0;
}

.form-group {
    flex: 1;
    margin: 0;
    padding: 0;
}



.form-row {
    display: flex;
    gap: 50px;
    margin: 0;
    padding: 0;
}

.form-group {
    flex: 1;
    margin: 0;
    padding: 0;
}

.input-field {
    width: 100%;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    color: #2981B2;
}

.input-field:focus {
    border-color: #2981B2;
    box-shadow: 0 0 5px rgb(41, 129, 178);
    outline: none;
}

.preview-container {
    display: none;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
}

.preview-slideshow {
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.preview-slideshow img {
    width: 150px;
    height: auto;
    margin-right: 10px;
}

.preview-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.preview-controls button {
    background: none;
    border: none;
    cursor: pointer;
    margin: 0 10px;
    font-size: 24px;
    transition: color 0.3s ease;
}

.preview-controls button:hover {
    color: #2981B2;
}

.preview-controls button:disabled {
    cursor: not-allowed;
    color: #ccc;
}


.custom_header {
    background-color: #fff !important;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1) !important;

}

.error-border {
    border: 2px solid red;
}

.error-star::after {
    content: '*';
    color: red;
    margin-left: 5px;
}

.required-field::before {
    content: '*';
    color: red;
    margin-right: 5px;
}


.dropdown {
    position: relative;
    width: 100%;
    /* margin: 10px 0; */
}

.dropdown input[type="text"] {
    width: calc(100% - 20px);
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    color: #2981B2;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 100%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
    border-radius: 10px;
    max-height: 200px;
    overflow-y: auto;
}

.dropdown-content li {
    padding: 12px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #2981B2;
}

.dropdown-content li:hover {
    background-color: #f1f1f1;
    color: #FF9700;
}

.tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.tag {
    background-color: #2981B2;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.tag .remove-tag {
    margin-left: 10px;
    cursor: pointer;
}