body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #fff;
    color: #333;
}

.profile-container {
    max-width: 60vw;
    margin: 15vh auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.profile-header img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
    border: 3px solid #3498db;
    transition: transform 0.3s ease;
}

.profile-header img:hover {
    transform: scale(1.05);
}

.profile-header .name {
    font-size: 28px;
    font-weight: 700;
    color: #2c3e50;
}

.edit-button,
.save-button,
.delete-account-button {
    margin-left: auto;
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.edit-button:hover {
    background-color: #2980b9;
    transform: scale(1.05);
}

.save-button,
.delete-account-button {
    background-color: #2ecc71;
}

.save-button:hover,
.delete-account-button:hover {
    background-color: #27ae60;
    transform: scale(1.05);
}

.delete-account-button {
    background-color: red;
}

.delete-account-button:hover {
    background-color: rgb(179, 0, 0);
    transform: scale(1.05);
}

.tab-content {
    margin-top: 30px;
}

.tab-pane {
    animation: fadeEffect 0.5s;
}

.add-image {
    display: none;
    margin-top: 15px;
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.detail {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    border-bottom: 1px solid #ecf0f1;
}

.detail span {
    font-size: 16px;
}

.detail .label {
    color: #7f8c8d;
    font-weight: 500;
}

.detail .value {
    font-weight: 600;
    color: #2c3e50;
    width: 40%;
}

.editable,
.uneditable {
    border: 1px solid #ecf0f1;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    color: black !important;
}

.editable:disabled,
.uneditable:disabled {
    background-color: #f4f4f9;
    border-color: #ecf0f1;
    color: #2a81b2 !important;
}

.tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.tag {
    background-color: #2981B2;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.tag .remove-tag {
    margin-left: 10px;
    cursor: pointer;
}

.input-field {
    width: 100%;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    color: #2981B2;
}

.input-field:focus {
    border-color: #2981B2;
    box-shadow: 0 0 5px rgb(41, 129, 178);
    outline: none;
}

.dropdown {
    position: relative;
    width: 100%;
}

.dropdown input {
    width: 100%;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    color: #2981B2;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    width: 100%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
    border-radius: 10px;
    max-height: 200px;
    overflow-y: auto;
}


.dropdown-content li {
    padding: 12px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #2981B2;
}

.dropdown-content li:hover {
    background-color: #f1f1f1;
    color: #FF9700;
}



.dropdown-content,
.multi-select-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content li,
.multi-select-content li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content li:hover,
.multi-select-content li:hover {
    background-color: #f1f1f1;
}

.multi-select-content {
    max-height: 200px;
    overflow-y: auto;
}


.multi-select-content li.selected,
.dropdown-content li.selected {
    background-color: #ffa920;
    color: white;
}

/* Adjustments for better mobile responsiveness */
@media (max-width: 1024px) {
    .profile-container {
        max-width: 80vw;
    }

    .profile-header .name {
        font-size: 24px;
    }

    .edit-button {
        padding: 8px 16px;
    }

    .save-button,
    .delete-account-button {
        padding: 8px 16px;
    }

    .detail span {
        font-size: 14px;
    }
}

@media (max-width: 600px) {
    .profile-container {
        max-width: 90vw;
        margin: 5vh auto;
        padding: 20px;
    }

    .profile-header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .profile-header img {
        width: 60px;
        height: 60px;
        margin: 0 0 10px 0;
    }

    .profile-header .name {
        font-size: 18px;
    }

    .edit-button,
    .save-button,
    .delete-account-button {
        margin-left: 0;
        margin-top: 10px;
        padding: 8px 16px;
    }

    .detail {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 0;
    }

    .detail .label {
        width: 100%;
    }

    .detail .value {
        width: 100%;
    }

    .tag {
        padding: 5px 8px;
    }

    .input-field {
        padding: 10px;
    }

    .dropdown input {
        padding: 10px;
    }
}

/* Slider styles */
.slider-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slider-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slider-item {
    min-width: 100%;
    box-sizing: border-box;
    padding: 10px;
    position: relative;
}

.slider img {
    width: 100%;
    border-radius: 10px;
}

.slider-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.slider-arrow-left {
    left: 10px;
}

.slider-arrow-right {
    right: 10px;
}

.delete-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(255, 0, 0, 0.7);
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    cursor: pointer;
    display: none;
}

.edit-mode .delete-button {
    display: block;
}

.image-container {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}

.image-container img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.image-container .delete-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 100%;
    cursor: pointer;
    padding: 0 5px;
    font-size: 16px;
    color: #e74c3c;
    display: none;
}

.image-container.edit-mode .delete-button {
    display: block;
}